# YOLOv5 repository (optional, if not included)
yolov5/

# Virtual environment
venv/

# Model weights
*.pt
*.h5
*.weights

# Temporary files
temp_video.mp4
*.log

# IDE and system files
.idea/
*.DS_Store
.vscode/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
/wandb/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# virtualenv
.venv*
venv*/
ENV*/

# PyInstaller
*.manifest
*.spec

# Scrapy stuff
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# mkdocs documentation
/site

# mypy
.mypy_cache/
venv/
*.pyc
__pycache__/
.DS_Store
# Add these to .gitignore
venv/Lib/site-packages/cv2/cv2.pyd
venv/Lib/site-packages/torch/lib/torch_cpu.dll
venv/Lib/site-packages/torch/lib/dnnl.lib

