# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
streamlit-webrtc
gitpython
matplotlib
opencv-python-headless
psutil  # system resources
PyYAML
requests
scipy
thop    
tqdm
ultralytics # https://ultralytics.com
torchvision 
torchaudio
plotly

# Streamlit and its dependencies
streamlit
pillow # Compatible with Streamlit

# PyTorch and Torchvision for model loading and inference
torch

# For image processing with PIL (Python Imaging Library)

# NumPy for array manipulations
numpy

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Deploy ----------------------------------------------------------------------
setuptools
